p {
    background-color: aquamarine;
}
hr {
    width: 80%;
    height: 10px;
    border: none;
    background-color: rgb(225, 59, 228);
} 
*{
    text-decoration: underline;
    background-color: blueviolet;
}